.events-container {
  position: relative;
  justify-content: flex-end;
  overflow-x: hidden;
  display: flex;
  // justify-content: flex-start;
}


.event-list {
  width: 50vw;
  width: 50%;
  margin: 0;
  img {
    // height: 300px;
    // width: auto;
    width: 100%;
    height: auto;
  }
}

.is-active {
  border: 2px red solid;
}

.google-map-wrapper {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 0;
}

.my-location-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 5500000;
  background: red;
  color: white;
  cursor: pointer;
}
