.events-container {
  position: relative;
  justify-content: flex-end;
  // overflow-x: hidden;
  overflow: hidden;
  display: flex;
  height: calc(100vh - 3m);
  // justify-content: flex-start;
}

.toggle-event-list {
  position: absolute;
  top: 50px;
  right: -30px;
  width: 31px;
  height: 34px;
  background: rgba(255,255,255, 0.9);
  padding: 2px;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
}

.event-list-is-hidden {
  transform: translateX(-100%);
  transition: 0.5s;
}

.event-list-is-visible {
  transform: translateX(0%);
}

.event-list-is-hidden, .event-list-is-visible{
  transition: 0.5s;
}

.event-controls {
  // position: absolute;
  text-align: center;
  // width: 100%;
  z-index: 100;
  background: rgba(255,255,255, 1);
}

.event-list__container {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.event-list__items {
  margin-top: 20px;
}

.event-list {
  width: 33vw;
  padding: 2em;
  margin: 0;
  img {
    // height: 300px;
    // width: auto;
    width: 100%;
    height: auto;
  }
  float: right;
  position: absolute;
  top: 0;
  background: rgba(255,255,255, 0.9);
  height: 100%;
  @media (max-width: 600px) {
    width: 100%;
  }
  // overflow: auto;
}

.is-active {
  border: 2px red solid;
}

.google-map-wrapper {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 0;
}

// .my-location-button {
//   // position: absolute;
//   // bottom: 10px;
//   // left: 10px;
//   z-index: 5500000;
//   background: red;
//   color: white;
//   cursor: pointer;
// }

.my-location-button {
  svg {
    fill: white;
    height: 3.8rem;
    height: 32px;
  }

  .fa-crosshairs {
    width: 50px;
    height: 50px;
  }
}


.event-item {
  border-bottom: 1px solid grey;
}

.form-fields {
  display: flex;
  flex-direction: column;
}
