@import 'react-datetime/css/react-datetime';
@import 'react-select/dist/react-select';
@import 'react-datepicker/dist/react-datepicker-cssmodules';

@import 'src/styles/EventList';
@import 'src/styles/Menu';
@import 'src/styles/PageControl';
@import 'src/styles/LoadingSpinner';
@import 'src/styles/PlainEvents';
@import 'src/styles/PlainEventItem';
@import 'src/styles/PlainEventSearchControls';

.app {
  // text-align: center;
}

.pointer {
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.react-datepicker-popper {
  transform: translate3d(78px, 175px, 0px) scale(1.5) !important;
  @media (max-width: 600px) {
    width: inherit;
    transform: translate3d(78px, 175px, 0px) scale(1) !important;
  }
}

.react-datepicker__triangle {
  display: none;
}

header, footer {
  z-index: 1;
  // position: fixed;
  /* height: 117px; */
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  padding: 11px;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

header {
  top: 0;
  line-height: 3em;
  height: 3em;
  padding: 0;

  a, small {
    vertical-align: middle;
  }
}

.underlined {
  border-bottom: 2px solid;
}

.made-by {
  @media (max-width: 400px) {
    display: none;
  }
}

button {
  @media (max-width: 450px) {
    width: 100%;
  }
}

// footer {
//   bottom: 0
// }

// .app-container {
//   height: 95vh;
// }
